{% extends "rest_framework_docs/base.html" %}

{% block title %}Events Tracker{% endblock %}
{% block logo %}<a class="navbar-brand" href="#"">Events Tracker API Documentation</a>{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <h1>'Events Tracker' Web API</h1>
  <h3>Documentation of the 'Events Tracker' Web API.</h3>
</div>
{% endblock %}

{% block footer %}<div class="footer">Copyright © 2016 Events Tracker.</div>{% endblock %}