<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Event Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'eventtracker/css/vendor/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'eventtracker/css/vendor/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'eventtracker/css/vendor/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'eventtracker/css/vendor/vis.css' %}" rel="stylesheet">
    <link href="{% static 'eventtracker/css/vendor/jquery.datetimepicker.min.css' %}" rel="stylesheet">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Event Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="#">Welcome, {{ user.username }}!</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'register' %}">Sign-up</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Features <span class="sr-only">(current)</span></a></li>
              {% if user.is_authenticated %}
                <li><a href="/admin/">Admin</a></li>
                <li><a href="{% url 'api' %}">API</a></li>
                <li><a href="/docs/">Docs</a></li>
              {% endif %}
          </ul>
          <!--
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
          </ul>
          -->
        </div>

        {% block body_block %}
        {% endblock %}

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'eventtracker/js/vendor/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'eventtracker/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'eventtracker/js/vendor/vis.js' %}"></script>
    <script src="{% static 'eventtracker/js/vendor/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'eventtracker/js/vendor/chart.min.js' %}"></script>
    <script src="{% static 'eventtracker/js/vendor/moment.js' %}"></script>
    <!-- My Scripts -->
    <script src="{% static 'eventtracker/js/visualization.js' %}"></script>
     <script src="{% static 'eventtracker/js/datetimepicker.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'eventtracker/js/vendor/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
