{% extends 'eventtracker/base.html' %}

{% block body_block %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Event Tracker Dashboard</h1>

    <h2 class="sub-header">Events Timeline Graph</h2>

    <form class="form-inline">
        <div id="keyform" class="form-group">
            <label for="key" class="sr-only">Event Key:</label>
            <input id="key" type="text" class="form-control" placeholder="Event key" aria-describedby="keyhelp">
            <span style="display:none;" id="keyhelp" class="help-block">Input event key</span>
        </div>
        <div id="start_date_form" class="form-group">
            <label for="start_timestamp" class="sr-only">Start Date & Time:</label>
            <input id="start_timestamp" type="text" class="form-control" placeholder="Start data & time" aria-describedby="startdatehelp">
            <span style="display:none;" id="startdatehelp" class="help-block">Start date & time</span>
        </div>
        <div id="end_date_form" class="form-group">
            <label for="end_timestamp" class="sr-only">End Date & Time:</label>
            <input id="end_timestamp" type="text" class="form-control" placeholder="End date & time" aria-describedby="enddatehelp">
            <span style="display:none;" id="enddatehelp" class="help-block">End date & time</span>
        </div>
        <div class="form-group">
            <button id="update_graph" class="btn btn-success"><i class="icon-refresh"></i>Update Graph</button>
        </div>
    </form>
    <br>
    <div class="row placeholders">
        <div id="visualization"></div>
    </div>

    <h2 class="sub-header">Events Count Graph</h2>

    <div class="row placeholders">
        <canvas id="barChart" width="400" height="100"></canvas>
    </div>

    <h2 class="sub-header">Events Distribution</h2>

    <div class="row placeholders">
        <canvas id="pieChart" width="400" height="100"></canvas>
    </div>

  <h2 class="sub-header">Events</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>#</th>
            <th>Key</th>
            <th>Timestamp</th>
            <th>Metadata</th>
            <th>Owner</th>
            <th>Created</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
            <tr>
                <td>{{event.pk}}</td>
                <td>{{event.key}}</td>
                <td>{{event.timestamp}}</td>
                <td>{{event.metadata}}</td>
                <td>{{event.owner}}</td>
                <td>{{event.created}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}