{% extends 'eventtracker/base.html' %}

{% block body_block %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Login</h1>
    <form class="form-signin col-md-4" id="login_form" method="post" action="{% url 'login' %}">
        <h2 class="form-signin-heading">Please log in</h2>
        {% csrf_token %}

        {% if bad_details %}
            <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
            <p><strong>Your account is currently disabled; we can't log you in!</strong></p>
        {% endif %}

        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" value="" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" value="" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>

{% endblock %}