{% extends 'eventtracker/base.html' %}

{% block body_block %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Sign up</h1>
    {% if registered %}
        <p>Thank you for signing up!</p>

        <p><a href="{% url 'dashboard' %}">Return to the homepage.</a></p>
    {% else %}
        <form id="user_form" class="form-signin col-md-4" method="post" action="{% url 'register' %}"
                enctype="multipart/form-data">

            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up here</h2>
            <div class="form-group">
                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->
                {% for field in user_form.visible_fields %}
                    {{ field.errors }}
                    {{ field.label }}<br />
                    {{ field }}<br />
                {% endfor %}
            </div>
            <br />
            <!-- Provide a button to click to submit the form. -->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
    {% endif %}
</div>
{% endblock %}